// Global Styles

h1,h2,h3,h4,h5,h6 {
  color: $dark;
  font-family: $font-header;
  font-weight: normal;
}

// Background gradients
body {
  background: $dark;
}

#page {
  $svg-gradient-shim-threshold: 1 !global;
  @include background-image(
    linear-gradient(to top, #EC1C24, #9E1F63)
  );
  overflow: hidden;
  width: 100%;
}

#header,
#main {
  background: $white;
}

p {
  line-height: 1.533333333;
  margin: 0.8em 0;
}

blockquote {
  line-height: 1.533333333;
  margin: 1em $indent-amount;
}

.breadcrumb {
  font-family: $tahoma;
  font-size: 0.733333333em;
  margin-top: $margin-large;
  text-transform: uppercase;
}

// Form Elements
label {
  font-weight: 500;
  font-family: $brandon;
  text-transform: uppercase;
}