/*
 ** Issue Page Styling
 */

.node-type-issue {
  
  .group_issue_title {
    display: block;

    .field-name-title-field,
    .field-name-field-issue-season-and-year,
    .field-name-field-issue-year {
      display: inline-block;
      font-family: $brandon;
      font-size: 1.6em;
      font-weight: 900;
      margin-right: 6px;
      text-transform: uppercase;

      div {
        display: inline-block;
      }
    }

    .field-name-field-issue-year {
      margin-bottom: $margin-large;
    }

    .field-name-title-field:after {
      content: ",";
    }
  }

  .field-name-field-issue-number,
  .display-price,
  .sell-price {
    color: $text-gray;
    display: inline-block;
    font-family: $franklin-gothic;
    font-size: 0.866666667em; // .866666667 * 15px = 13px
    font-weight: normal;
    line-height: 1;
  }

  .display-price {
    clear: none;
    border-right: 1px solid $text-gray;
    float: none;
    margin-right: 7px;
    padding: 0 7px 0 0;
  }

  .field-name-field-issue-number {
    display: block;
    
    .field-item {
      display: inline;
    
      &:before {
        content: "Issue";
        display: inline;
        margin-right: 3px;
      }
    }
  }

  .add-to-cart {
    input {
      @include button;
    }
  }

  .field-name-field-cover-lines {
    color: $dark;
    font-family: $brandon;
    font-size: 1.066666667em;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.field-group-div {

  @include clearfix;
  display: block;
  clear: left;

  > h3 {
    clear: left;
    font-family: $brandon;
    font-size: 1.333333333em;
    font-weight: normal;
    text-transform: uppercase;
  }
  .field {
    color: $text-gray;
    font-family: $franklin-gothic;
  }

  .field-name-field-headline,
  .field-name-field-subhead,
  .field-name-field-sub-head,
  .field-name-field-author-text,
  .field-name-field-author
  .field-name-field-article .field-name-title-field {
    float: left;
    font-size: 1em; // 1 * 15 = 15px
    line-height: 1.8; // 1.8 * 15 = 27px


    div {
      float: left;
    }
  }

  .field-type-entityreference {
    float: left;
    clear: left;
    h1,
    h3,
    h5 {
      float: left;
      font-size: 1em !important; // 1 * 15 = 15px
      line-height: 1.8 !important; // 1.8 * 15 = 27px
    }
  }

  .field-name-field-headline,
  .field-name-field-article .field-name-title-field {
    clear: left;
    font-family: $brandon;
    margin-right: 6px;
    text-transform: uppercase;
    
    &:after {
      content: ":";
    }

    h3 {
      clear: left;
      float: left;
      font-size: 1.066666667em;
      margin: 0;
    }
  }

  .field-name-field-author-text,
  .field-name-field-author {
    font-size: 0.8em;
    margin-left: 6px;
    position: relative;
    top: 3px;
    margin-bottom: 12px;

    &:before {
      content: "|";
      float: left;
      padding-right: 6px;
      position: relative;
      top: -1px;
    }
  }
}

.group_purchase_info {
  float: right;
  max-width: 40%;
  margin-bottom: $margin-large;
}

.group_issue_title {
  float: none;
}
