// Site Layout

// Grid Setup
$column-width: 60px; 
$gutter-width: 0;
$columns: 22;

$total-width: 100%;
$max-width: 1600px; // @TODO Look at max-width

// Responsive Breakpoints
$mobile: 320px;
$tablet: 640px;
$laptop: 1024px;
$desktop: 1440px;

#page {
  float: left;
	@include container;
}

#header,
#main {
  @include grid-empty;
  left: 4.1666667%; // 1 / 24 total columns
  width: 91.6666667%; // 22 / 24 total columns
}

#navigation {
  @include column(22);
}

#content {
  @include column(15);
}

.content-inner {
  @include grid-empty;
  left: 6.6666667%; // 1 / 15 columns in #content
  width: 86.6666667%; // 13 / 15 columns in #content
}

.region-sidebar-second {
  @include column(7);
}