// Navigation Styling

#navigation {
  background: #2E2B31;
  font-family: $brandon;
  text-transform: uppercase;

  .region-navigation {
    @include column(23);
    @include push(0.5); // Must use half column
  }

  .links,
  .menu {
    height: 70px;
    text-align: justify;

    li {
      float: none;
      display: inline-block;
      padding: 0;
    }
  }

  // Use justify to center items in menu
  ul:after {
    content: '';
    width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
    display: inline-block;
  }

  li {
    display: inline;
  }

  a:link,
  a:visited {
    color: $yellow;
    display: block;
    padding: 20px 9px;

    // Extend padding for larger screens
    @media screen and (min-width: $desktop) {
      padding: 20px 29px;
    }
  }
  a.active {
    background: #4E5047;
  }
  a:hover {
    background: #60625A;
    color: #fff87f;
  }

  li.first {
    a:link,
    a:visited,
    a.active,
    a:hover {
      background: $yellow;
      color: $dark;
      padding-left: 20px;
      padding-right: 20px;
    } 
  }

  // Secondary links bg: 4D4F46

}