/*
 ** Off Canvas Styling
 */

$tout-button-height: 54px;
$tablet-button-height: 106px;
$transition: .5s all ease;

@mixin tout-position {
  transition: $transition;
  float: left;
  position: absolute;
  width: 90%;
}

@mixin tout-position-left {
  @include tout-position;
  left: -100%;
}

@mixin tout-position-right {
  @include tout-position;
  right: -100%;
}

body {
  overflow-x: hidden;
}

#header-mobile {
  @include element-invisible;
}

// Set up positioning and transition effect for off-screen canvases
.region-tout {

  .block-menu-block.first,
  .block-views {
    @include tout-position-left;
  }

  .tout-menu,
  .block-logintoboggan {
    @include tout-position-right;
  }

}

// Set up positioning and transition effect for close buttons
.tout-close-left {
  @include tout-position-left;
  width: auto;
}
 .tout-close-right {
  @include tout-position-right;
  width: auto;
}

@media screen and (max-width: $laptop) {

  // Hide search and user menu for tablet
  .header__region {
    @include element-invisible;
    #views-exposed-form-test-search-box-search-page,
    .block-logintoboggan {
      @include element-invisible;
    }
  }

  // Hide navigation and tout menu for phone
  @media screen and (max-width: $tablet) {
    #navigation {
      @include element-invisible;
    }
    .header__region {
      .tout-menu {
        @include element-invisible;
      }
    }
  }

  // Resize header
  #header {
    left: 16.6666667%; // 4 / 24 toal columns
    width: 66.6666667%; // 16 / 24 total columns
  }

  // Header Buttons
  #header-mobile {
    position: relative;
    width: 100%;
    @include element-invisible-off;

    // Add buttons for tablet
    h2 {
      color: $yellow;
      display: block;
      position: absolute;
      width: 16.6666667% !important; // 4 / 24 total columns
      margin: 0;
      text-indent: -9999px;

      &.search-header {
        left: 0;
        top: 0;

        &:after {
          content: "\f002";
          float: left;
          font-family: $font-awesome;
          text-indent: 0;
        }
      }

      &.login-header {
        right: 0;
        top: 0;

        &:after {
          content: "\f007";
          float: right;
          font-family: $font-awesome;
          text-indent: 0;
        }
      }

      &.menu-header,
      &.tout-header {
        @include element-invisible;
      }

      // Add buttons for phone, reposition search button
      @media screen and (max-width: $tablet) {
        height: $tout-button-height;

        &.search-header {
          top: $tout-button-height;
        }

        &.menu-header {
          @include element-invisible-off;
          overflow: visible;
          position: absolute !important;
          left: 0;
          top: 0;
          width: 16.6666667% !important; // 4 / 24 total columns


          &:after {
            content: "\f0c9";
            float: left;
            font-family: $font-awesome;
            text-indent: 0;
          }
        }

        &.tout-header {
          @include element-invisible-off;
          overflow: visible;
          position: absolute !important;
          right: 0;
          top: $tout-button-height;

          &:after {
            content: "\f07a";
            float: right;
            font-family: $font-awesome;
            text-indent: 0;
          }
        }
      }
    }
  }

  // Set up positioning and transition effect for #page
  #page {
    transition: $transition;
    margin: 0;
    float: left;
    position: relative;
  }

  .tout-close-left {
    .menu-active &,
    .search-active & {
      left: 0;
    }
  }
  .tout-close-right {
    .login-active &,
    .tout-active & {
      right: 0;
    }
  }

  // Active tout blocks positioning
  .menu-active {
    .block-menu-block.first {
      left: 10%;
      width: 80%;
    }

    #page {
      margin-left: 90%;
    }
  }

  .search-active {
    .region-tout .block-views {
      left: 10%;
      width: 80%;
    }

    #page {
      margin-left: 90%;
    }
  }

  .login-active {
    .block-logintoboggan {
      right: 10%;
      width: 80%;
    }

    #page {
      margin-left: -90%;
    }
  }

  .tout-active {
    .tout-menu {
      right: 10%;
      width: 80%;
    }

    #page {
      margin-left: -90%;
    }
  }
}