/*
 ** Off Canvas Styling
 */

$tout-button-height: 54px;
$transition: .5s all ease;

@mixin tout-position {
  transition: $transition;
  float: left;
  position: absolute;
  width: 90%;
}

@mixin tout-position-left {
  @include tout-position;
  left: -100%;
}

@mixin tout-position-right {
  @include tout-position;
  right: -100%;
}

body {
  overflow-x: hidden;
}

#header-mobile {
  @include element-invisible;
}

@media screen and (max-width: $laptop) {

  // Hide large screen menus and blocks
  .header__region,
  #navigation {
    @include element-invisible;
    .tout-menu,
    #views-exposed-form-test-search-box-search-page,
    .block-logintoboggan {
      @include element-invisible;
    }
  }

  // Resize header
  #header {
    left: 16.6666667%; // 4 / 24 toal columns
    width: 66.6666667%; // 16 / 24 total columns
  }

  // Header Buttons
  #header-mobile {
    position: relative;
    width: 100%;
    @include element-invisible-off;

    h2 {
      color: $yellow;
      display: block;
      position: absolute;
      height: $tout-button-height;
      margin: 0;

      &.menu-header {
        left: 0;
        top: 0;

        &:after {
          content: "\f0c9";
          font-family: $font-awesome;
        }
      }

      &.search-header {
        left: 0;
        top: $tout-button-height;

        &:after {
          content: "\f002";
          font-family: $font-awesome;
        }
      }

      &.login-header {
        right: 0;
        top: 0;

        &:after {
          content: "\f007";
          font-family: $font-awesome;
        }
      }

      &.tout-header {
        right: 0;
        top: $tout-button-height;

        &:after {
          content: "\f07a";
          font-family: $font-awesome;
        }
      }
    }
  }

  // Set up positioning and transition effect for #page
  #page {
    transition: $transition;
    margin: 0;
    float: left;
    position: relative;
  }

  // Set up positioning and transition effect for off-screen canvases
  .region-tout {

    .block-menu-block.first,
    .block-views {
      @include tout-position-left;
    }

    .tout-menu,
    .block-logintoboggan {
      @include tout-position-right;
    }

  }

  // Set up positioning and transition effect for close buttons
  .tout-close-left {
    @include tout-position-left;
    width: auto;
  }
   .tout-close-right {
    @include tout-position-right;
    width: auto;
  }

  .tout-close-left {
    .menu-active &,
    .search-active & {
      left: 0;
    }
  }
  .tout-close-right {
    .login-active &,
    .tout-active & {
      right: 0;
    }
  }

  // Active tout blocks positioning
  .menu-active {
    .block-menu-block.first {
      left: 10%;
      width: 80%;
    }

    #page {
      margin-left: 90%;
    }
  }

  .search-active {
    .region-tout .block-views {
      left: 10%;
      width: 80%;
    }

    #page {
      margin-left: 90%;
    }
  }

  .login-active {
    .block-logintoboggan {
      right: 10%;
      width: 80%;
    }

    #page {
      margin-left: -90%;
    }
  }

  .tout-active {
    .tout-menu {
      right: 10%;
      width: 80%;
    }

    #page {
      margin-left: -90%;
    }
  }
}